.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  opacity: 10%;
  transition: all 0.3s ease-in-out;
}

.modal.active {
  opacity: 100%;
  transform: none;
}

.modal .wrapper {
  margin: 10% auto;
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.modal .title {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

/* "flex justify-between border-b border-gray-200 px-4 py-2" */
.modal .title h3 {
  font-size: 1.25rem;
  margin: 0;
}
