.card {
  width: auto;
  aspect-ratio: 2 / 1;
  position: relative;

  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding: 10px 0;

  border: 1px solid #ccc;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
}

.card .link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.card .btns {
  z-index: 1;
  opacity: 0;
  position: absolute;
  width: 100%;
  bottom: -10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
}

.card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

.card:hover .btns {
  bottom: 0;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

/* hide the h2 when the buttons are hovered */
.card:hover p {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.card .btns button {
  width: 100%;
  border: none;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card .btns .delete {
  /* tailwind 700 */
  background-color: var(--delete-rgb);
  color: #fff;
}

.card .btns .delete:hover {
  /* tailwind 800 */
  background-color: #e03131;
}