.title {
  display: flex;
  justify-content: space-between;
  margin-top: -1em; /* this is to compensate for the extra top padding */
  margin-bottom: 15px;
  padding: 1em 0;
}

.cards {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}
