@tailwind base;
@tailwind components;
@tailwind utilities;

/* define a good color pallete for the application */
:root {
  --text-color: #313131;
  --background-color: #cccccc7a;

  --navbar-color: #001b2e;

  --primary-rgb: #294c60;
  --primary-rgb-light: #3c6e8f;

  --secondary-rgb: #adb6c4;

  --delete-rgb: #e63946;
}

/* This is here to setup a dark mode for users  */
/* Future project works */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--text-color);
  background: var(--background-color);
  box-shadow: 10px 10px 5px grey;
}
