@tailwind base;
@tailwind components;
@tailwind utilities;

/* define a good color pallete for the application */
:root {
  --text-color: #313131;
  --background-color: #ccc;

  --navbar-color: #160f29;
  --primary-rgb: #7c898b;
  --secondary-rgb: #93a3b1;
  --tertiary-rgb: #def6ca;
}

/* This is here to setup a dark mode for users  */
/* Future project works */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--text-color);
  background: linear-gradient(to bottom, transparent, var(--background-color))
    transparent;
}
